<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.34569303823030206 0.32048405713567585 0.47106391102952927" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
            <geometry>
                <box size="0.34569303823030206 0.32048405713567585 0.47106391102952927" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_Block0" type="<class 'type'>">
       <parent link="Torso"/>
       <child  link="Block0"/>
       <origin rpy="0 0 0" xyz="0 0 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Block0">
        <inertial>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.052955133443727036 1.0023380050500312 0.5057801391324409" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <geometry>
                <box size="0.052955133443727036 1.0023380050500312 0.5057801391324409" />
            </geometry>
        </collision>
    </link>
    <joint name="Block0_Block1" type="<class 'type'>">
       <parent link="Block0"/>
       <child  link="Block1"/>
       <origin rpy="0 0 0" xyz="0 0.0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Block1">
        <inertial>
            <origin xyz="0 0.11005176591673416 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.11005176591673416 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8191972701797976 0.2201035318334683 0.4071749775136927" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.11005176591673416 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8191972701797976 0.2201035318334683 0.4071749775136927" />
            </geometry>
        </collision>
    </link>
    <joint name="Block1_Block2" type="<class 'type'>">
       <parent link="Block1"/>
       <child  link="Block2"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Block2">
        <inertial>
            <origin xyz="0.25066907337199834 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25066907337199834 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5013381467439967 0.09974476979791334 0.7883302661015701" />
            </geometry>
            <material name="green">
                <color rgba="0 1.0 0 1,0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25066907337199834 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5013381467439967 0.09974476979791334 0.7883302661015701" />
            </geometry>
        </collision>
    </link>
    <joint name="Block2_Block3" type="<class 'type'>">
       <parent link="Block2"/>
       <child  link="Block3"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Block3">
        <inertial>
            <origin xyz="0 0.40854079922563047 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.40854079922563047 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.004584120280386 0.8170815984512609 0.31754308350806393" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.40854079922563047 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.004584120280386 0.8170815984512609 0.31754308350806393" />
            </geometry>
        </collision>
    </link>
</robot>